streamlit==1.38.0
tensorflow==2.15.0
keras==2.15.0
numpy==1.23.5
pillow==9.5.0
matplotlib==3.7.2
nltk==3.8.1
tqdm==4.66.1
h5py==3.9.0
flask==2.2.3
scipy==1.11.2
pyyaml==6.0
gitpython==3.1.32
requests==2.31.0
pandas==2.0.3
