streamlit
tensorflow>=2.16.0
setuptools>=68.0.0
numpy
pandas
scikit-learn
matplotlib
scipy
requests
Pillow
python-dotenv  # If you're using environment variables
gunicorn  # For deployment on Streamlit (or any other WSGI server)
